<a class="btn btn-secondary" [routerLink]="['/login']">Back</a>
<div style="justify-content: center; display:grid">
    <label for="email">Email:</label>
    <input type="text" [(ngModel)]="email">
    <br>
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="name">
    <br>
    <label for="password">Password:</label>
    <input type="text" style="width: 100px;" [(ngModel)]="password">
    <br>
    <label for="password">Password Again:</label>
    <input type="password" style="width: 100px;" [(ngModel)]="password2">
    <br>
    <button class="btn btn-secondary" (click)="send()">Send</button>
</div>
