<a class="btn btn-secondary" [routerLink]="['/admin/vehicle']">Back</a>
<div>
    <label class="form-group" for="speed">Maximum speed:</label>
    <input type="number" style="width: 50px;" [(ngModel)]="speed">
</div>
<div>
    <label for="maxSize">Maximum Pack Size in m^3:</label>
    <input type="number" style="width: 50px;" [(ngModel)]="maxSize">
<br>
    <label for="maxWeight"> Maximum Pack Weight in kg:</label>
    <input type="number" style="width: 100px;" [(ngModel)]="maxWeight">
</div>
<div *ngIf="depots">
    <label for="depotId">Depot id:</label>
    <select [(ngModel)]="selectedDepot.id">
        <option *ngFor="let depo of depots" value={{depo.id}}>
            {{depo.id}} {{depo.address}} </option>
      </select>
    <br>
    <label for="license">License plate:</label>
    <input type="text" [(ngModel)]="license">
</div>

<button class="btn btn-secondary" (click)="send()">Send</button>